<!DOCTYPE html>
<html lang="en">
<head>
  <%-  include('../partials/head') %>
  <title><%= formTitle %></title>
</head>
<body>
  <div class="blog-wrapper">
    <div class="blog-left">
      <header class="blog-header">
        <h1 class="blog-title"><%= formTitle %></h1>
      </header>
      <main class="blog-main blog-article-form">
        <p class="blog-parragraph blog-article-form__parragraph">All field marked with * are mandatory.</p>
        <form class="blog-form" action="<%= handler %>" method="<%= method %>">
          <div class="blog-form__field">
            <label class="blog-form__label" for="articleTitle">Article Title *</label>
            <input 
              class="blog-form__input" 
              type="text"
              id="articleTitle"
              name="articleTitle"
              value="<% if (locals?.article) { %><%= article.title.trim() %><% } else { %><% }%>">
          </div>
      
          <div class="blog-form__field">
            <label class="blog-form__label" for="publishDate">Publishing Date *</label>
            <input
              class="blog-form__date" 
              type="date"
              id="publishDate"
              name="publishDate"
              value="<% if (locals?.article) { %><%= new Date(article.publishDate).toISOString(article.publishDate).slice(0, 10) %><% } else { %><% } %>">
          </div>
      
          <div class="blog-form__field">
            <label class="blog-form__label" for="content">Content *</label>
            <textarea
              class="blog-form__text" 
              id="content"
              name="content"><% if (locals?.article) {%><%- article.body.trim()%><%} else {%><%}%></textarea>
          </div>
          
          <div class="blog-form__field--right">
            <input class="blog-form__button" type="submit" value="<%= submitText %>">
          </div>
        </form>
      </main>
    </div>
    <nav class="blog-right">
      <a class="blog-link" href="/admin">Back</a>
    </nav>
  </div>
</body>
</html>